* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #3C401A;
    color: #E5E3E1;
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

a {
    color: #E5E3E1;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    
    width: 100%;
    margin: auto;
    max-width: 100%;
    min-height: 500px;
    height: 100vh;
}



/* GENERAL STYLES */
html {
    scroll-behavior: smooth;
}

section.section, 
form, 
footer, 
.music-player,
.music-player-icons {
    display: flex;
    flex-direction: column;
}

nav ul.nav-menu,
section.section, 
form, 
footer, 
.music-player-icons {
    align-items: center;
}

nav ul.nav-menu, 
section.section, 
form, 
footer{
    text-align: center;
} 


section.section, 
form, 
footer {
    justify-content: center;
    padding: 5px;

}

section.section h1,
section.section h2, 
section.section p, 
section.section iframe#youtube-video,
form {
    padding: 5px;
    margin: 5px;
}

section.section {
    height: 100%;
}

nav.navigation, 
#showcase, 
footer,
.music-player {
    padding: 15px;
}


nav.navigation ul.nav-menu li a#logo, 
section#showcase h1 {
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
}


/* SHOWCASE */
#showcase {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.288)),
    url(img/IMG-20240402-WA0053.jpg) no-repeat center center/cover fixed;
}

/* NAVIGATION */
nav.navigation {
    width: 100%;
    position: fixed;
    background-color: #3C401A;
    z-index: 4;
}

nav ul.nav-menu {
    display: flex;
    justify-content: space-between;
    height: 70px;
}

/* MUSIC PLAYER */

.music-player {
    position: absolute;
    align-items: end;
    text-align: right;
    bottom: 2%;
    right: 2%;
    width: 52%;
}
.music-player p {
    font-size: 0.7rem;
}

.music-player-icons {
    width: auto;
}

#play-music,
#pause-music,
#volume-high,
#volume-mute,
#down-button {
    cursor: pointer;
    margin: 5px;
}

a#ear-guitar-web {
    text-decoration: underline;
} 

#audio-showcase,
#volume-high,
#pause-music {
    display: none;
}

/* WELCOME */
section#welcome {
}

/* DESTINATIONS */
section#destinations, 
footer,
section#embeb-youtu-video {
    color: #3C401A;
    background-color: #E5E3E1;   
}

/* PLACE1 */
section#place1 {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.288)),
    url(img/20240322_131825.jpg) no-repeat center center/cover fixed;
}

/* PLACE2 */
section#place2 {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.288)),
    url(img/IMG-20240402-WA0083.jpg) no-repeat center center/cover fixed; 
}

/* PLACE3 */
section#place3 {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.288)),
    url(img/20240322_100246.jpg) no-repeat center center/cover fixed; 
}

/* YOUTUBE VIDEO */
section.section iframe#youtube-video{
    width: auto;
}

/* CONTACT */


/* FOOTER */
