* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: darkslategray;
    color: white;
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    
    width: 100%;
    margin: auto;
    max-width: 100%;
    min-height: 500px;
    height: 100vh;
}



/* GENERAL STYLES */
section.section, form, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;

}

section.section h1,
section.section h2, 
section.section p, 
section.section iframe#youtube-video,
form {
    padding: 5px;
    margin: 5px;
}

section.section {
    height: 100%;
}

nav.navigation, 
footer {
    padding: 15px;
}


nav.navigation ul.nav-menu li a#logo, 
section#showcase h1 {
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
}


/* SHOWCASE */
#showcase {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.288)),
    url(img/IMG-20240402-WA0053.jpg) no-repeat center center/cover fixed;
}

#audio-showcase {
    position: absolute;
    bottom: 15%;
    right: 5%;
}

/* NAVIGATION */
nav.navigation {
    width: 100%;
}

nav ul.nav-menu {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 70px;
}

/* PLACE1 */
section#place1 {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.288)),
    url(img/20240322_131825.jpg) no-repeat center center/cover fixed;
}

/* PLACE2 */
section#place2 {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.288)),
    url(img/IMG-20240402-WA0083.jpg) no-repeat center center/cover fixed; 
}

/* PLACE3 */
section#place3 {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.288)),
    url(img/20240322_100246.jpg) no-repeat center center/cover fixed; 
}

/* YOUTUBE VIDEO */
section.section iframe#youtube-video{
    width: auto;
}

/* CONTACT */
section#contact {
    background: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.288));
}

/* FOOTER */
footer {
    background-color: grey;
}