* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #3C401A;
    color: #E5E3E1;
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

a {
    color: #E5E3E1;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    
    width: 100%;
    margin: auto;
    max-width: 100%;
    min-height: 500px;
    height: 100vh;
}



/* GENERAL STYLES */
html {
    scroll-behavior: smooth;
}

section.section, 
form, 
footer, 
.music-player,
.music-player-icons,
section#contact ul {
    display: flex;
    flex-direction: column;
}

nav ul.nav-menu,
section.section, 
form, 
footer, 
.music-player-icons,
section#contact ul {
    align-items: center;
}

nav ul.nav-menu, 
section.section, 
form, 
footer{
    text-align: center;
}

section.section, 
form, 
footer {
    justify-content: center;
    padding: 5px;

}

section.section h1,
section.section h2, 
section.section p, 
section.section iframe#youtube-video,
form {
    padding: 5px;
    margin: 5px;
}

section.section {
    height: 100%;
}

nav.navigation, 
#showcase, 
footer,
.music-player {
    padding: 15px;
}


nav.navigation ul.nav-menu li a#logo, 
section#showcase h1 {
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
}


/* SHOWCASE */
#showcase {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.288)),
    url(img/IMG-20240402-WA0053.jpg) no-repeat center center/cover fixed;
}

/* NAVIGATION */
nav.navigation {
    width: 100%;
    position: fixed;
    background-color: #3C401A;
    z-index: 4;
}

nav ul.nav-menu {
    display: flex;
    justify-content: space-between;
    height: 70px;
}

/* MUSIC PLAYER */

.music-player {
    position: absolute;
    align-items: end;
    text-align: right;
    bottom: 2%;
    right: 2%;
    width: 52%;
}
.music-player p {
    font-size: 0.7rem;
}

.music-player-icons {
    width: auto;
}

#play-music,
#pause-music,
#volume-high,
#volume-mute,
#down-button {
    cursor: pointer;
    margin: 5px;
}

a#ear-guitar-web {
    text-decoration: underline;
} 

#audio-showcase,
#volume-high,
#pause-music {
    display: none;
}

/* WELCOME */


/* DESTINATIONS */
section#destinations, 
footer,
section#embeb-youtu-video {
    color: #3C401A;
    background-color: #E5E3E1;   
}

section#destinations i#down-button,
section#contact ul li a i#up-button {
    color: #3C401A;
}


/* PLACE1 */
section#place1 {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.288)),
    url(img/20240322_131825.jpg) no-repeat center center/cover fixed;
}

/* PLACE2 */
section#place2 {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.288)),
    url(img/IMG-20240402-WA0083.jpg) no-repeat center center/cover fixed; 
}

/* PLACE3 */
section#place3 {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.288)),
    url(img/20240322_100246.jpg) no-repeat center center/cover fixed; 
}

/* YOUTUBE VIDEO */
section.section iframe#youtube-video{
    width: auto;
}

/* CONTACT */
section#contact ul {
    justify-content: center;    
    transform: translate(400%, 400%);
    background-color: #E5E3E1;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

section#contact i#up-button {
    font-size: 20px;
}

/* FOOTER */


/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {

    /* GENERAL STYLES */

    section.section, 
    form {
        padding: 10px;

    }

    section.section h1,
    section.section h2 {
        font-size: 35px;
    }

    nav.navigation a, 
    section.section p, 
    section.section#destinations ul li a, 
    section.section#contact ul,  
    form, 
    section#contact i#up-button,
    footer {
        font-size: 22px;
    }

    section.section h1,
    section.section h2, 
    section.section p, 
    section.section iframe#youtube-video,
    form {
        padding: 10px;
        margin: 10px;
    }

    section#showcase h1 {
        font-size: 3rem;
    }
    section#showcase p {
        font-size: 1.5rem;
    }

    nav.navigation, 
    #showcase, 
    footer,
    .music-player {
        padding: 30px;
    }

    /* NAVIGATION */

    nav ul.nav-menu {
        height: 70px;
    }

    /* MUSIC PLAYER */

    .music-player {
        width: 70%;
    }
    .music-player p {
        font-size: 1rem;
    }

    .music-player-icons {
        width: auto;
    }

    #play-music,
    #pause-music,
    #volume-high,
    #volume-mute,
    #down-button {
        margin: 10px;
        font-size: 18px;
    }

    /* YOUTUBE VIDEO */
    section.section iframe#youtube-video{
        width: 70%;
        height: 45%;
    }

    /* CONTACT */
    section#contact ul {    
        transform: translate(800%, 200%);
        width: 40px;
        height: 40px;
    }

}


@media only screen and (min-width: 1024px) {
    
    /* GENERAL STYLES */

    section#showcase h1 {
        font-size: 4rem;
    }
    
    section#showcase p {
        font-size: 2rem;
    }

    /* MUSIC PLAYER */

    .music-player {
        width: 70%;
    }
    .music-player p {
        font-size: 1.3rem;
    }

    #play-music,
    #pause-music,
    #volume-high,
    #volume-mute,
    #down-button {
        margin: 15px;
        font-size: 20px;
    }

    /* CONTACT */
    section#contact ul {    
        transform: translate(800%, 400%);
        width: 50px;
        height: 50px;
    }

    section#contact i#up-button {
        font-size: 2rem;
    }
  }


